/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: AvenirNext;
    src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
}

html, body, nav, header, main, footer {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 238, 241);
}

/* ===== NAV ===== */
nav {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    height: 60px;
    padding: 10px 30px;

    font-size: 12px;
    line-height: 18px;
    font-family: AvenirNext;
    font-weight: 400;
}

.sign-in {
    display: flex;
    flex-direction: row;
}

.sign-in-text {
    display: flex;
    flex-direction: column;
}

.sign-in-text .upper-text {
    margin: 0;
}

.sign-in-text .lower-text {
    text-decoration: none;
}

.sign-in-text .lower-text:hover {
    text-decoration: underline;
}

.sign-in-button-container {
    margin-left: 10px;
    display: block;
}

.sign-in-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 34px;
    padding: 0 20px;
    margin: 0;
    
    border: 1px solid rgb(76, 76, 76);
    border-radius: 4px;
    
    background-color: rgb(0, 119, 197);
    color: white;
    font-size: 13.5px;
    font-weight: 400;
    line-height: normal;
}

.sign-in-button:hover {
    cursor: pointer;
}

.sign-in-button .text {
    color: white;
    font-size: 13.5px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.sign-in-button span {
    width: 16px;
    height: 20px;
}

.sign-in-button img {
    margin-right: 6px;
    width: 16px;
    height: 20px;
}

/* ===== HEADER ===== */
header {
    padding: 20px 0;
    width: 100%;
}

header .logo-container {
    text-align: center;
}

header .logo {
    display: block;
    height: 35px;
    width: 118px;
    margin: 0 auto;

    background-image: url("../assets/images/logo.png");
}

/* ===== MAIN PRODUCTS ===== */
main {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

main .product-container {
    height: 42px;
    line-height: 18px;
    width: 100%;
}

main .products-header {
    padding-bottom: 4px;
}

main ul {
    height: 23px;
    padding: 0;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 15px;
    white-space: nowrap;
    text-align: center;
    position: relative;
}

main .products-list li {
    display: inline;
    margin-right: 9px;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
}

main .products-list li span {
    display: inline-block;
    cursor: pointer;
    height: 23px;
    width: 23px;
    /* margin-right: 4px; */
}

main .products-list li a{
    display: inline-block;
    background-origin: padding-box;
    background-repeat: no-repeat;
}

main .products-list .mint-icon{
    background-image: url("../assets/images/mint-logo.svg");
}

main .products-list .quickbooks-icon{
    background-image: url("../assets/images/quickbooks-logo.svg");
}

main .products-list .turbotax-icon{
    background-image: url("../assets/images/turbotax-logo.svg");
}

main .products-list .mint-text {
    height: 20px;
    width: 37px;
    background-image: url("../assets/images/mint-text.svg");
}

main .products-list .quickbooks-text {
    height: 22px;
    width: 98px;
    background-image: url("../assets/images/quickbooks-text.svg");
}

main .products-list .turbotax-text {
    height: 22px;
    width: 74px;
    background-image: url("../assets/images/turbotax-text.svg");
}

/* ===== MAIN ACCOUNTS ===== */
main .account-container {
    height: 641px;
    width: 380px;
    padding: 30px;
    margin: 0 auto;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(199, 199, 199);
}

main .account-container .sign-up-container .header-container {
    text-align: center;
    padding-bottom: 20px;
}

main .account-container .sign-up-container .header-container .header{
    font-family: AvenirNext;
    line-height: 26.4px;
    font-size: 24px;
    font-weight: 400;
    color: rgb(57, 58, 61);
}

main .account-container .sign-up-container .header-container .sub-header {
    font-family: AvenirNext;
    line-height: 16.8px;
    font-size: 14px;
    font-weight: 300;
    color: rgb(57, 58, 61);
    padding-top: 20px;
}

main .account-container .sign-up-container .header-container .sub-header a {
    text-decoration: none;
    color: rgb(0, 119, 197);
}

main .account-container .sign-up-container .header-container .sub-header a:hover {
    text-decoration: underline;
}

/* ===== MAIN FORM */
main form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

main form fieldset .form-container label{
    display: block;
    font-family: AvenirNext;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: rgb(64, 64, 64);

    padding-bottom: 6px;
    text-align: left;
}

main form fieldset .form-container input {
    height: 34px;
    min-width: 160px;
    width: 320px;

    font-family: AvenirNext;
    font-size: 16.8px;
    font-weight: 400;
    line-height: 21.8px;
    text-align: start;

    margin: 0;
    padding: 0 6px 0 8px;

    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
}

main form fieldset .form-container input:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}

main form fieldset .form-container input:focus {
    border: 1px solid rgb(0, 119, 197);
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset, 0 0 8px rgb(82 168 236 / 60%);
}

main form fieldset .form-email {
    height: 95px;
}

main form fieldset .form-phone {
    height: 115px;
}

main form fieldset .form-phone span{
    width: 100%;
    font-family: AvenirNext;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    min-height: 20px;
    color: rgb(68, 68, 68);
    padding: 5px 0;
}

main form fieldset .form-password {
    height: 98px;
    position: relative;
}

main form fieldset .form-password .password-lock{
    /* display: inline-block; */
    background-image: url("../assets/images/lock.png");
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 50%;    
    position: absolute;
    /* top: 1px; */
    /* bottom: 1px; */
    right: 1px;
    width: 33px;
    height: 32px;
}

main form .submit-container {
    font-family: AvenirNext;
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 21px;
}

main form .submit-container button {
    height: 44px;
    width: 318px;
    padding: 6px 12px;

    font-family: AvenirNext;
    font-size: 15.75px;
    font-weight: 400;

    background-color: rgb(0, 119, 197);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 75%);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main form .submit-container button .submit-padlock {
    display: inline-block;
    vertical-align: middle;
    background-image: url("../assets/images/padlock-logo.svg");
    background-repeat: no-repeat;
    margin-right: 6px;
    height: 20px;
    width: 16px;
}

main form .submit-container button .submit-text {
    text-align: center;
    line-height: 22.5px;
    font-size: 15.75px;
    color: rgb(255, 255, 255);
}

main .terms {
    padding-top: 10px;
    text-align: center;

    font-family: AvenirNext;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: rgb(117, 117, 117);
}

main .terms a {
    color: rgb(0, 119, 197);
    text-decoration: none;
}

main .terms a:hover {
    text-decoration: underline;
}

main .captcha-container {
    margin: 32px -30px -30px -30px;
    padding: 16px;
    height: 53px;
    display: block;

    background-color: rgb(236, 238, 241);
    
    font-family: AvenirNext;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(141, 144, 150);
    text-align: center;
}

main .captcha-container span {
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
}

main .captcha-container a {
    color: rgb(0, 119, 197);
    text-decoration: none;
}

main .captcha-container a:hover {
    text-decoration: underline;
}

/* ===== FOOTER ===== */
footer {
    height: 99px;
    padding: 20px 0;

    font-family: AvenirNext;
    font-size: 12px;
    line-height: 18px;

    text-align: center;
}

footer .footer-container {
    margin: 0 auto;
    text-align: center;
}

footer .lps ul{
    padding: 5px 0 0 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

footer .lps ul li {
    display: inline;
    color: rgb(80, 80, 80);
}

footer .lps ul .li-pad {
    padding-left: 10px;
}

footer .lps ul li a{
    color: rgb(80, 80, 80);
    text-decoration: none;
}

footer .lps ul li a:hover{
    text-decoration: underline;
}